*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    scrollbar-color: #00A587;
}

#sidemenu{
    margin: 0;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    background-color: white;
    padding: 12px 0px 12px 0px;
}

.logo{
    width: 62px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #212121;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00A587;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}




#about{
    padding: 160px 0px 0px 0px ;
}

.header-text {
    margin-top: 40px;
    font-size: 20px;
    color: #212121;
}

.header-text h1{
    font-size: 64px;
    color: #212121;
    line-height: 120%;
    font-weight: 700;
}

.header-text h1 span{
    font-size: 64px;
    color: #00A587;
}

.header-text p {
    color: #212121;
    margin-top: 32px;
}

.profilka{
    width: 100%;
    border-radius: 40px;
}

.projects{
    font-size: 40px;
    color: #00A587;
    font-weight: 700;
}

.text{
    font-size: 20px;
    margin-top: -10px;
    line-height: 120%;
    color: #212121;
}

.gumb{
    text-align: center;
}

.button{
    background-color: #00A587;
    padding: 15px 50px;
    border-radius: 68px;
    text-align: center;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}



.button:hover{
    background-color: #007862;
    transition: 0.2s;
}



.yt{
    margin: 4px;
    padding: 12px 12px 12px 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #4A4A4A;
    border-radius: 40px;
}

.yt:hover{
    background-color: #E74D89;
    transition: 0.2s;
}


.li{
    margin: 4px;
    padding: 12px 12px 12px 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #4A4A4A;
    border-radius: 40px;
}

.li:hover{
    background-color: #0A66C2;
    transition: 0.2s;
}


.me{
    align-items: center;
    padding-top: 24px;
}

.mee{
    align-items: center;
    padding-top: 24px;
    flex-wrap: nowrap;
}

/*------projects-------*/



#projects{
    padding: 160px 0px 0px 0px ;
}

.container{
    padding-left: 12%;
    padding-right: 12%;
}

.container h2{
    font-size: 48px;
}

.container h2 span{
font-size: 48px;
color: #00A587;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.photo{
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    border-radius: 40px;
    max-height: 644px;
    max-width: 644px;
    overflow: hidden;
}


.photo a{
    width: 100%;
    height: 100%;
}

.photo img{
    border-radius: 40px;
    width: 100%;
    transition: transform .5s ease;
}

.photo img:hover {
    transform: scale(1.08);
}


.bottom-left {
    position: absolute;
    bottom: 64px;
    left: 40px;
    color: white;
    font-size: 20px;
}

.bottom-left2 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    font-size: 16px;
}

    


/*------My experiences-------*/

#experiences{
    padding: 160px 0px 0px 0px ;
}

.header-text h2{
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 32px;
    font-weight: 700;
}


.header-text h2 span{
    font-size: 48px;
    color: #00A587;
}

.experience{
    font-size: 24px;
    font-weight: 700;
}

.exp{
    margin-bottom: 80px;
    color: #212121;
}

.row-exp{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}


/*------Companies-------*/

#companies{
    padding: 60px 0px 0px 0px ;
}

.com-col-1{
    padding: 10px;
}

.com-col-2{
    padding: 10px;
}

.experience{
    font-size: 24px;
    font-weight: 700;
}

.exp{
    margin-bottom: 80px;
}


.companies{
    font-size: 24px;
    font-weight: 400;
    line-height: 200%;
    color: #212121;
    margin-left: -8px;
}


/*------footer-------*/


#contact{
    padding: 160px 0px 0px 0px ;
}

.fot{
    background-color: #d3fff7;
    border-radius: 40px 40px 0px 0px;
    padding: 0px 4% 4% 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.footcol{
    padding-top: 80px;
}

.footer{
    align-items: center;
}

.footer-text h3 {
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: #212121;
}

.footer-text p {
    font-size: 20px;
}

.footer-text span {
    color: #00A587;
}


.mail{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #212121;
}

.button2{
    background-color: #00A587;
    padding: 15px 60px;
    border-radius: 68px;
    text-align: center;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}


/* -------------animations----------- */

.hidden{
    opacity: 0;
    transition: all 1.2s;
    filter: blur(2px);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
}




/* ------------- css for small screens----------- */

@media only screen and (max-width: 600px){
    
    nav{
        padding: 10px;
    }

    #sidemenu{
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-left: 0px;
    }

    .align-content-center{
        padding-top: 40px;
    }

    #about{
        padding: 0px 0px 0px 0px ;
    }

    .container{
        padding: 10px 4%;
        background-color: white;
    }

    .about{
        flex-direction: column-reverse;
    }
    
    
    .header-text h1{
        font-size: 36px;
        color: #212121;
        line-height: 120%;
        font-weight: 700;
    }

    .header-text h1 span{
        font-size: 32px;
        color: #00A587;
        font-weight: 700;
    }

    .header-text {
        margin-top: 22px;
        font-size: 18px;
        color: #212121;
    }

    .header-text p {
        color: #212121;
        margin-top: 18px;
    }

    .infoo br{
        display: none;
    }

    .header-text p br {
        content: "";
    }
      
    .header-text p br:after {
        content: " ";
    }

    .info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 56px;
    }

    .text{
        font-size: 16px;
        line-height: 120%;
        color: #212121;
    }

    .projects{
        font-size: 32px;
        padding-top: 8px;
        color: #00A587;
        font-weight: 700;
    }


    .social{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 24px;
    }

    .button{
        background-color: #00A587;
        padding: 15px 120px;
        border-radius: 68px;
        text-align: center;
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
    
    nav ul{
        background-color: #212121;
        position: fixed;
        top:0;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        text-align: center;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .close{
        top: 25px;
        left: 25px;
        cursor: pointer;
        height: 40px;
    }

    nav ul li a{
        color:white;
    }

/* ------------- Projects ----------- */


    .photo{
        border-radius: 20px;
    }

    .photo img{
        border-radius: 20px;
    }

    .bottom-left {
        position: absolute;
        bottom: 40px;
        left: 20px;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
    
    .bottom-left2 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        font-size: 14px;
    }


    #projects{
        padding: 80px 0px 0px 0px ;
    }

    .container-about{
        padding-left: 2%;
        padding-right: 2%;
    }

    #experiences{
        padding: 80px 0px 0px 0px ;
    }

    .experience{
        font-size: 18px;
        margin: 0px 0px 4px 0px;
    }


    .exp{
        margin-bottom: 40px;
        color: #212121;
    }


    .header-text h2{
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 40px;
        text-align: left;
        font-weight: 700;
    }
    
    
    .header-text h2 span{
        font-size: 32px;
        color: #00A587;
        text-align: left;
    }

    .row-exp{
        justify-content: flex-start;
    }


/*------Companies-------*/



    #companies{
        padding: 80px 0px 0px 0px ;
    }

    .row-com{
        justify-content: flex-start;
    }

    .companies{
        padding-left: 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 200%;
        color: #212121;
    }



    /*------Footer-------*/

    #contact{
        padding: 80px 0px 0px 0px ;
    }

    .footcol{
        text-align: center;
        padding-top: 40px;
    }


    .footer-text h3{
        margin-top: 46px;
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: 700;
        line-height: 130%;
    }
    
    .footer-text p{
        font-size: 16px;
        color: #212121;
    }
    

    .mail{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 24px;
        margin-top: 20px;
        color: #00A587;
    }

    .row-fot {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 4%;
        background-color: #DDFFF9;
        border-radius: 40px 40px 0px 0px;
    }

    .footer{
        padding-bottom: 80px;
    }


    .button2{
        background-color: #00A587;
        padding: 15px 96px;
        border-radius: 68px;
        text-align: center;
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }

    .down{
        padding: 0px;
    }
}

/* Clout art page */

/* Clout art page */

/* Clout art page */

/* Clout art page */

/* Clout art page */

/* Clout art page */

/* Clout art page */

/* Clout art page */

/* Clout art page */

/* Clout art page */



.container-case{
    padding-left: 12%;
    padding-right: 12%;
}

.container-case h2{
    font-size: 48px;
}

.button3{
    background-color: #00A587;
    padding: 15px 50px;
    border-radius: 68px;
    text-align: center;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}



.button3:hover{
    background-color: #007862;
    transition: 0.2s;
}

.cloutic{
    background-image: url("images/clout/cloutback.jpg");
    height: 42em;
    width: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.naslov{
    position: relative;
    top: 10%;
    text-align: center;
    padding: 4%;
}

.ml16 {
    padding: 40px 0;
    font-weight: 700;
    font-size: 64px;
    overflow: hidden;
}

.naslov p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 64px;
}

  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
}



.challenge{
    margin-top: 0px;
}

.challenge h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.challenge p{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 32px;
}

/* Solution */

.case-slika{
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.case-slika-2{
    width: 100%;
    height: auto;
}

.case-slika-3{
    width: 100%;
    height: auto;
}

.distri{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.distri p{
    padding: 40% 0 40% 0;
}

/* UI Design */

.UI{
    margin-top: 0px;
}

.UI h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.UI p{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 100px;
    font-weight: 500;
}

/* Footer */

.futer{
    padding: 0px 154px 154px 154px;
    text-align: center;
    line-height: 500%;
    font-weight: 600;
}

.futer h3{
    font-weight: 600;
    font-size: 36px;
}

#footer{
    padding: 0;
}


.container-case-2{
    padding-left: 12%;
    padding-right: 12%;
}

.container-case-2 h2{
    font-size: 48px;
}



.plankic{
    background-image: url("images/planke/plankeback.jpg");
    height: 42em;
    width: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.axmcic{
    background-image: url("images/axm/axm-back.jpg");
    height: 42em;
    width: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.atcic{
    background-image: url("images/at/at-primozic-back.jpg");
    height: 42em;
    width: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------- css for small screens CLOUTARTIC----------- */

@media only screen and (max-width: 600px){


    .cloutic{
        background-image: url("images/clout/cloutback-mobile.jpg");
        height: 34em;
    }

    .plankic{
        background-image: url("images/planke/plankeback.jpg");
        height: 34em;
    }

    .axmcic{
        background-image: url("images/axm/axm-back.jpg");
        height: 34em;
    }

    .atcic{
        background-image: url("images/at/at-primozic-back.jpg");
        height: 34em;

    }

    .ml16 {
        font-size: 48px;
    }


    .button3{
        padding: 15px 50px;
    }

    .naslov p{
        font-size: 18px;
        padding: 0px 20px;
        font-weight: 400;
        margin-bottom: 64px;
    }

    .naslov br{
        display: none;
    }

    .challenge h3{
        font-size: 40px;
    }

    .challenge p{
        font-size: 16px;
        margin-bottom: 16px;
    }

    .challenge br{
        display: none;
    }

    .case-slika{
        border-radius: 10px;
    }

    .case-slika-3{
        padding-top: 40px;
    }

    .container-case{
        margin-top:40px;
        padding: 10px 4%;
    }

    .container-case-2{
        margin-top:-60px;
        padding: 10px 4%;
    }

    .distri{
        padding-bottom: 20px;
    }

    .distri p{
        padding: 0;
    }

    .UI h3{
        font-size: 40px;
    }

    .UI p{
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 16px;
        margin-top: 32px;
        font-weight: 500;
    }

    .UI img{
        width: 90%;
    }

    .futer{
        padding: 10px 4% 48px 4%;
        text-align: center;
        font-weight: 600;
    }

    .futer h3{
        font-size: 24px;
    }

    .futer a{
        white-space: nowrap;
        padding: 15px 96px;
    }
}

